.find{
    display:flex;
    flex-direction:column;
    font-size:1rem;
    color:white;
}
.row0{
    font-size:1em;
}
.row1{
    text-align:center;
    padding-bottom:5em;
}
.applogo{
    max-width:50%;
    opacity:0.5;
    z-index:0;
}
.noshows{
    display:block;
    margin-top:5em;
    font-family:fredokaone;
    font-size:2.25em;
    color:#cc0000;
    opacity:0.5;
}

@media(max-width:15cm){
    .applogo{
        margin-top:3em;
    }
}
