.fetchalert{
    position:fixed;
    top:25%;
    width:50%;
    font-size:1rem;
    left:0;right:0;margin:0 auto;
    overflow:hidden;
    text-align:center;
    font-family:fredokaone;
    z-index:30;
}
.background{
    position:fixed;
    top:0;
    left:0;right:0;margin:0 auto;
    width:100vw;
    height:100vh;
    background-color:black;
    opacity:0.8;
    z-index:-1;
}
.row0{
    position:relative;
    font-size:1.25em;
    color:white;
    text-align:center;
}
.row1{
    display:flex;
    justify-content:flex-end;
    align-items:center;
    padding:10px;
}
.eventbtn{
    padding:5px;
    border:none;
    border-bottom:2px solid #cc0000;
    color:#cc0000;
    width:fit-content;
    font-size:1.25rem;
    font-family:inherit;
    width:10rem;
    height:5rem;
    margin:10px;
    background-color:transparent;
    transition:0.3s;
}

@media(max-width:15cm){
    .fetchalert{
        width:85%;
    }
    .eventbtn{
        margin:0;
    }
}

@media(any-hover){
    .eventbtn:hover{
        cursor:pointer;
        background-color:#35353593;
    }
}

@media(hover:none){
    .eventbtn:active{
        background-color:#35353593;
        transition:0.2s;
    }
}