.loader{
    display:flex;
    justify-content:center;
    align-items:center;
    position:absolute;
    text-align:center;
    width:fit-content;
    height:fit-content;
    inset:0;margin:auto;
    font-size:1rem;
    z-index:5;
}
.loading{
    width:100%;
    height:auto;
    max-width:5em;
}