.searchoption{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin:5px;
    font-size:1rem;
}
.input{
    height:inherit;
    width:85%;
    font-family:fredokaone;
    font-size:1.25em;
    text-align:left;
}
.image{
    max-width:1em;
}

@media(any-hover){
    .input:hover,.image:hover{
        filter:brightness(0.65);
        cursor:pointer;
    }
}
@media(hover:none){
    .image:active{
        filter:brightness(0.65);
    }
}