.searchoption{
    display:flex;
    justify-content:space-between;
    align-items:center;
    font-size:1rem;
    margin:5px 0;
}
.input{
    height:inherit;
    width:100%;max-width:100%;
    padding:0 5px;
    overflow-x:auto;
    font-family:fredokaone;
    font-size:1.25em;
    text-align:left;
}
.input::-webkit-scrollbar{
    display:none;
}
.image{
    max-width:1em;
    margin:0 5px;
}

@media(any-hover){
    .input:hover,.image:hover{
        filter:brightness(0.65);
        cursor:pointer;
    }
}
@media(hover:none){
    .image:active{
        filter:brightness(0.65);
    }
}