<?xml version='1.0' encoding='utf-8'?>
<widget id="tn.netify" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>Netify</name>
    <description />
    <author email="aayachi032@gmail.com">Ahmed Ayachi</author>
    <content src="index.html" />
    <access origin="*" />
    <preference name="StatusBarOverlaysWebView" value="true" />
    <preference name="StatusBarBackgroundColor" value="#000000" />
    <preference name="StatusBarStyle" value="lightcontent" />
    <preference name="phonegap-version" value="cli-9.0.0" />
</widget>
