.header{
    display:flex;
    flex-direction:column;
    justify-content:space-around;
    align-items:center;
    font-size:1rem;
    width:100%;
    background:linear-gradient(to top,#0f0f0f 60%,transparent 100%);
    margin:1rem 0;
}
