.showviewer{
    position:relative;
    display:block;
    font-size:1rem;
    width:100%;
    overflow:hidden;
    margin:0 auto;
    margin-bottom:5px;
    border-bottom:3px solid #cc0000;
}
.background{
    position:absolute;
    top:0;
    left:0;right:0;margin:0 auto;
    width:100%;
    height:100%;
    background-position:center;
    background-repeat:no-repeat;
    background-size:cover;
    z-index:0;
}
.row1,.row2,.row3{
    display:block;
}
.row0{
    position:relative;
    display:flex;
    justify-content:space-around;
    align-items:center;
    backdrop-filter:blur(10px);
    -webkit-backdrop-filter:blur(7px);
    padding:4rem 0;
    z-index:10;
}
.col0{
    display:flex;
    justify-content:center;
    align-items:center;
}
.poster{
    max-width:10em;
    filter:drop-shadow(0 0 5px #2e2e2e);
}
.col1{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    max-width:50%;
}
.title{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight:bold;
    font-size:2.5em;
    margin:10px 0;
    overflow-y:auto;
    max-height:9rem;
}

@media(any-hover){
    .poster:hover{
        cursor:pointer;
        filter:brightness(0.8);
    }
}

@media(hover:none){
    .poster:active{
        cursor:pointer;
        filter:brightness(0.8);
    }
}
