.swiper{
    position:absolute;
    bottom:1rem;
    left:0;right:0;margin:0 auto;
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    align-items:center;
    width:100%;max-width:100%;
    font-size:1rem;
    z-index:10;
}
.view{
    width:0.5rem;
    height:0.5rem;
    margin:0.25rem;
    border:1px solid #cc0000;
    transition:0.75s;
}
.active{
    background-color:#cc0000;
}