.showslide{
    position:relative;
    display:flex;
    justify-content:space-between;
    align-items:center;
    width:100%;
    height:50vh;
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center center;
    overflow:hidden;
    border-bottom:2px solid #cc0000;
}
.watchlistbtn{
    position:absolute;
    top:1rem;
    right:1.5rem;
    max-width:3em;
    z-index:3;
}
.row0{
    display:flex;
    flex-direction:row;
    justify-content:flex-start;
    align-items:center;
    padding:1rem;
    width:100%;
    height:100%;
    background:linear-gradient(to right,black 25%,rgba(0,0,0,0));
    z-index:1;
}
.list{
    color:white;
    list-style:none;
    max-width:40%;
    max-height:90%;
    overflow-y:auto;
}
.list>li{
    margin:1rem 0;
}
.title{
    font-family:princesssofia;
    font-size:5rem;
    color:#888888;
    opacity:0.5;
}
.rating{
    display:block;
}
.overview{
    font-weight:400;
    line-height:1.25rem;
    font-size:0.8rem;
    font-family:Arial, Helvetica, sans-serif;
}

@media(max-width:25cm){
    .watchlistbtn{
        top:3rem;
    }
    .list{
        max-width:65%;
    }
}

@media(any-hover){
    .watchlistbtn:hover{
        cursor:pointer;
        filter:brightness(0.65);
    }
}

@media(hover:none){
    
}