.showslide{
    position:relative;
    width:100%;
    height:60vh;
    background-repeat:no-repeat;
    background-size:cover;
    background-position:0% center;
    transition:0.5s;
    overflow:hidden;
}
.watchlistbtn{
    position:absolute;
    top:1rem;
    right:1.5rem;
    max-width:3em;
    z-index:3;
}
.row0{
    position:relative;
    width:100%;max-width:100%;
    height:100%;
    display:flex;
    flex-direction:column;
    justify-content:space-around;
    align-items:center;
    white-space:nowrap;
    overflow:hidden;
    background:linear-gradient(to top right,#0f0f0f 15%,transparent 40%);
    z-index:1;
}
.row1{
    position:relative;
    display:block;
    width:100%;max-width:100%;
    height:90%;
    white-space:nowrap;
    overflow:hidden;
    scroll-behavior:smooth;
    z-index:1;
}
.shadow{
    position:absolute;
    top:0;
    left:0;right:0;margin:0 auto;
    max-width:100%;
    height:100%;
    overflow:hidden;
    background:linear-gradient(to top,#0f0f0f 5%,transparent 40%);
    z-index:0;
}


@media(max-width:15cm){
    .showslide{
        height:65vh;
    }
    .watchlistbtn{
        top:3rem;
    }
}

@media(any-hover){
    .watchlistbtn:hover{
        cursor:pointer;
        filter:brightness(0.65);
    }
}