.filter{
    position:relative;
    display:block;
    margin-top:3px;
    /*overflow-y:auto;
    max-height:10rem;
    padding:5px;*/
    background-color:rgba(0,0,0,0.65);
    border-bottom:3px solid #cc0000;
    font-size:1rem;
    font-family:fredokaone;
    z-index:10;
}
.list{
    padding-top:5px;
}
.list li{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin:0.5em 0;
    padding:0 5px;
    font-size:1.25em;
}
.col0,.col2,.col4{
    width:fit-content;
}
.col1,.col3,.col5{
    display:flex;
    width:85%;
    justify-content:space-evenly;
}
table.categories{
    width:100%;
    border-collapse:collapse;
    table-layout:fixed;
}
table.categories td{
    text-align:center;
    padding:5px 10px;
}

@media(any-hover){
    .list label[for]:hover{
        cursor:pointer;
        filter:brightness(0.65);
    }
    table.categories td:hover{
        cursor:pointer;
        filter:brightness(0.65);
    }
}

@media(max-width:25cm){
    .category{
        flex-direction:column;
    }
    .col4,.col5{
        width:100%;
        text-align:center;
    }
}