.genreshows{
    font-size:1rem;
}
.title{
    font-family:signikalight;
    font-size:3em;
    color:#cc0000;
    text-align:center;
    margin-top:0.5em;
    margin-bottom:1em;
    padding:0 0.5em;
}
.row0{
    text-align:center;
}
