.login{
    position:relative;
    display:block;
    color:white;
    text-align:center;
    font-size:1.5rem;
    padding-top:3rem;
}
.row0{
    position:relative;
    font-size:1em;
    z-index:2;
}
.row1{
    display:flex;
    flex-direction:column;
    align-items:center;
    z-index:2;
}
.row2{
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    align-items:center;
}
.skipbtn{
    position:absolute;
    font-size:1em;
    top:0;
    right:2rem;
    font-family:fredokaone;
    filter:brightness(0.85);
    opacity:0.5;
}
.applogo{
    max-width:7em;
    filter:brightness(0.9);
}
.signup{
    min-width:75%;width:fit-content;max-width:90%;
    font-size:0.9em;
    font-family:signikalight;
    color:white;
    text-align:right;
}
.signin{
    width:60%;
    height:2.5em;
    margin:10px auto;
    border:none;
    font-family:Arial, Helvetica, sans-serif;
    font-weight:bold;
    font-size:2rem;
    color:white;
    background-color:#cc0000;
}
.tmdblogo{
    max-width:2em;
}
.signin:active{
    opacity:0.65;
}
.tmdblink{
    color:#cc0000;
    text-decoration:underline;
}

@media(max-width:15cm){
    .Login{
        font-size:1rem;
    }
    .signup{
        font-size:0.75em;
    }
    .skipbtn{
        right:1.5rem;
    }
}
@media(any-hover){
    .signin:hover,.skipbtn:hover,.details summary:hover{
        cursor:pointer;
        filter:brightness(0.65);
    }
}