
@font-face{
    font-family:"fredokaone";
    src:url("../src/Assets/Fonts/FredokaOne-Regular.ttf");
}
@font-face{
    font-family:"montserrat";
    src:url("../src/Assets/Fonts/Montserrat-Black.ttf");
}