.showdetails{
    font-size:1rem;
    font-family:fredokaone;
}
.row0,.row1,.row3{
    display:block;
}
.row2{
    display:flex;
    justify-content:space-evenly;
    color:white;
}
.loadinganim{
    position:fixed;
    inset:0;margin:auto;
    max-width:5em;
}
.casttext{
    color:white;
    font-size:3em;
    margin:5px;
}
