.seasonslide{
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    align-items:center;
    width:30%;
    margin:0 auto;
    font-size:1rem;
    margin:0.5rem 0;
    border-bottom:2px solid #cc0000;
}
.col0{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:flex-start;
    margin:0.5rem;
    max-width:40%;
}
.name{
    font-size:0.85em;
    align-self:center;
    margin-bottom:0.25rem;
    word-wrap:normal;
}
.poster{
    max-width:10em;
    margin-top:0.25rem;
    border-radius:5px;
}
.col1{
    text-align:left;
    margin:0.5rem;
    width:60%;
}
.infolist{
    list-style:none;
    font-size:0.95em;
}
.infolist>li{
    margin:5px 0;
}
.overview{
    color:#cc0000;
}
.overviewbody{
    font-size:0.75em;
    font-weight:500;
    line-height:1.25rem;
    font-family:Arial, Helvetica, sans-serif;
    max-height:4.5rem;
    overflow-y:auto;
}
.overviewbody::-webkit-scrollbar{
    display:none;
}


@media(max-width:15cm){
    .seasonslide{
        width:95%;
    }
    .overviewbody{
        height:fit-content;
        max-height:5rem;
    }
}
