
@font-face{
    font-family:"fredokaone";
    src:url("./FredokaOne-Regular.ttf") format("opentype");
}
@font-face{
    font-family:"montserrat";
    src:url("./Montserrat-Black.ttf") format("opentype");
}
@font-face{
    font-family:"princesssofia";
    src:url("./PrincessSofia-Regular.ttf") format("opentype");
}