.searcher{
    position:relative;
    border:2px solid #cc0000;
    border-radius:5px;
    width:85%;
    height:3rem;
}
.row0{
    height:inherit;
    display:flex;
    justify-content:space-between;
    align-items:center; 
}
.row1{
    display:block;
}
.searcher input{
    width:100%;
    height:100%;
    border:none;
    border-radius:inherit;
    padding:0 0.25em;
    background-color:transparent;
    color:white;
    font-family:fredokaone;
    font-size:1.5rem;
    opacity:0.85;
}
.filter{
    max-width:2em;
    margin-right:1%;
    transition:0.5s;
}

.searcher datalist{
    opacity:0.5;
}

@media(any-hover){
    .filter:hover{
        filter:brightness(0.65);
        cursor:pointer;
    }
}

@media(hover:none){
    .filter:active{
        filter:brightness(0.65);
    }
}