.searcher{
    position:relative;
    display:flex;
    justify-content:space-between;
    align-items:center;
    border:3px solid #cc0000;
    border-radius:5px;
    width:85%;
    height:3rem;
}
.searcher input{
    width:80%;
    height:100%;
    border:none;
    border-radius:inherit;
    padding:0 0.25em;
    background-color:transparent;
    color:white;
    font-family:fredokaone;
    font-size:1.5rem;
}
.searcher img{
    max-width:2em;
    margin-right:1%;
    transition:0.5s;
}

.searcher datalist{
    opacity:0.5;
}

@media(any-hover){
    .searcher>img:hover{
        filter:brightness(0.65);
        cursor:pointer;
    }
}

@media(hover:none){
    .searcher>img:active{
        filter:brightness(0.65);
    }
}