.ratestars{
    display:block;
    margin:2px 0;
}
.ratestars img{
    display:inline-block;
    max-width:1.4rem;
    margin:0 2px;
}

@media(any-hover){
    .ratestars img:hover{
        cursor:pointer;
        filter:brightness(0.65);
    }
}

@media(max-width:25cm){
    .ratestars img{
        max-width:1.5rem;
    }
}