.offlinealert{
    position:fixed;
    display:flex;
    flex-direction:column;
    justify-content:space-around;
    align-items:center;
    inset:0;margin:auto;
    backdrop-filter:brightness(0.3) blur(3px);
    width:100vw;
    height:100vh;
    font-size:1.5rem;
    z-index:20;
}
.offlinealert img{
    display:block;
    max-width:7.5em;
}
.offlinealert p{
    font-family:signikalight;
    font-weight:bold;
    color:#cc0000;
    margin-bottom:3em;
}

/*@media(max-width:15cm){
    .offlinealert{
        padding-top:20%;
    }
}*/
