.navigator{
    position:fixed;
    display:flex;
    justify-content:space-evenly;
    align-items:center;
    width:100%;
    height:4rem;
    bottom:0;
    background-color:black;
    border-top:2px solid #b8000f;
    overflow:hidden;
    font-size:1rem;
}
.icon{
    max-width:2em;
    filter:brightness(0.65);
}
.active{
    max-width:2em;
    padding-bottom:3px;
    filter:brightness(1);
    border-bottom:2px solid #cc0000;
}
.usericon{
    width:2em;
    height:2em;
    border-radius:50%; 
    background-color:#cc0000;
    overflow:hidden;
}

@media(any-hover){
    .icon:hover{
        cursor:pointer;
        filter:brightness(0.65);
    }
}