.showgrid{
    height:fit-content; 
    font-size:1rem;
}
.row0{
    text-align:left;
    font-family:ubuntu;
    font-weight:bold;
    font-size:2em;
    padding:5px;
}
.row0 img{
    max-width:3rem;
}
.row1{
    display:block;
    text-align:center;
}
.noshowmsg{
    color:white;
    font-family:fredokaone;
    margin-top:10%;
    opacity:0.5;
    font-size:4em;
}
.filterbtn{
    position:absolute;
    max-width:10em;
}

@media(max-width:15cm){
    .row0 img{
        max-width:3em;
    }
    .noshowmsg{
        font-size:2em;
    }
}

@media(any-hover){
    .arrows:hover{
        filter:brightness(0.65);
        cursor:pointer;
    }
}

@media(hover:none){
    .arrows:active{
        filter:brightness(0.8);
    }
}