:root{
    font-size:1vw;
}
*{
    margin:0;
    padding:0;
    outline:none transparent !important;
    -moz-user-select:none;
    -webkit-user-select:none;
    -ms-user-select:none;
}
body{
    overflow-x:hidden;
}

@media(max-width:25cm){
    :root{
        font-size:2vw;
    }
}