.showprober{
    display:block;
    font-size:1rem;
}
.row0{
    display:flex;
    justify-content:space-evenly;
    align-items:center;
    padding:1em 0;
}
.sectiontitle{
    font-family:signikalight;
    font-size:1.5em;
    color:white;
    transition:0.25s;
}
.activebtn{
    color:#cc0000;
    text-decoration:underline;
}
.row1{
    display:block;
}

@media(any-hover){
    .sectiontitle:hover{
        cursor:pointer;
        filter:brightness(0.65);
        text-decoration:underline;
    }
}