.detailsection{
    display:block;
    font-size:1rem;
    padding:5px 1rem;
    color:white;
}
.showtype{
    text-align:center;
}
.row0{
   display:block; 
}
.seasons{
    display:flex;
    flex-direction:row;
    justify-content:space-evenly;
    flex-wrap:wrap;
    align-items:flex-end;
}
.seasontext{
    font-family:signikalight;
    font-size:1.5em;
    font-weight:500;
    color:#cc0000;
    text-align:center;
}
.row1{
    display:block;
}

@media(max-width:15cm){
    .seasons{
        flex-direction:column;
        justify-content:center; 
    }
}